.beard{
    background: #67440b;
    color: white;

}
.first{
    color: blueviolet;
}
.red{
    width: 100px;
    height: 100px;
    background: #b90a0a;
}
.purply{
    background: #b13bc6c9;
    color: black;
    width: 300px;
}
.element{
    background: #9714ae;
    color: white;
}