*{
    box-sizing: border-box;
}

.parent{
    height: 400px;
    background: #aacfef;
    overflow: auto;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    padding: 10px 20px;

}

.child{
    display: inline-block;
    width: 200px;
    height: 200px;
    background: #e4a65f;
    text-align: left;
    border-radius: 30px;
    padding: 15px 20px;
    border: 2px solid black;
    margin: 5px;
    box-shadow: inset 4px 4px 5px rgb(97, 87, 87), inset -4px -4px 5px rgb(97, 87, 87);
}
